<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<main class="container">
		<section class="about">
			<img src="{{ "/assets/HC.jpg" | relative_url }}" alt="{{ site.plainwhite.name }}">
			<h2>{{ site.plainwhite.name }}</h2>
			<p class="tagline">{{ site.plainwhite.tagline }}</p>
			<ul class="social">
                {%- if site.plainwhite.social_links.github -%}
				<a href="https://github.com/{{ site.plainwhite.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
                {%- endif -%}
                {%- if site.plainwhite.social_links.linkedIn -%}
				<a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
                {%- endif -%}
                {%- if site.plainwhite.social_links.twitter -%}
                <a href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}"><li><i class="icon-twitter-squared"></i></li></a>
                {%- endif -%}
			</ul>
		</section>

        <aside>
		  <div class="container">
			<nav>
			  <ul>
				<li><a href="{{ "/" | relative_url }}">About</a></li>
				<li><a href="{{ "/publication" | relative_url }}">Publications</a></li>
				<li><a href="{{ "/blog" | relative_url }}">Blogs</a></li>
			  </ul>
			  </li>
			  </ul>
			</nav>
		  </div>
		</aside>

		<section class="content">
			{{ content }}
			<div>
				<script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=300&t=tt&d=t4SIikoiy6-0kFEiUHVKz2otCMPQztyf6zk-ISDQHy0&co=2d78ad&cmo=3acc3a&cmn=ff5353&ct=ffffff'></script>
			</div>
			<div>
				<P>
					<h4>^_^</h4>
				</P>
			</div>
		</section>
	</main>
	{%- if site.plainwhite.analytics_id -%}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
	{%- endif -%}
</body>
</html>
